.title h1{max-width:440px;font-size:32px}.inspector .inspection{margin:10px 0!important}@media(max-width:760px){.title h1{font-size:25px;max-width:250px}.inspector{top:132px}.site-navigation a{padding:8px 5px;font-size:10px}}
@media(max-width:760px){#continent-app main{min-height:820px}.camera-controls{bottom:195px}.height-controls{bottom:16px}}
